[Unit]
Description=ArchBrigade Battery Monitor Timer
Requires=archbrigade-battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target